body {
    background-color: #eaeaea;
    color: #000033;
    font-family: Arial, Verdana, sans-serif;
}

h1, h2, h3 {
    color: brown;
}

p {
    font-size: 16px;
}

a {
    color: blue;
} 
#about {
    background-color: white;
    padding: 10px;
}
.highlight {
    font-weight: bold;
}